@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
      url("#{$file-path}.woff") format("woff"),
      url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.svg") format("svg"),
      url("#{$file-path}.ttf") format("ttf"),
      url("#{$file-path}.ttf") format("truetype");
  }
}

@include font-face("Montserrat", "./../fonts/Montserrat/Montserrat-Light", 300);
@include font-face(
  "Montserrat",
  "./../fonts/Montserrat/Montserrat-Regular",
  400
);
@include font-face(
  "Montserrat",
  "./../fonts/Montserrat/Montserrat-SemiBold",
  600
);
@include font-face("Montserrat", "./../fonts/Montserrat/Montserrat-Bold", 700);
